<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlAccount SearchCode" connectionString="data source=.;initial catalog=PolicySimulationSystem;integrated security=true"/>
    <add name ="SqlAccount comSqlCommand" connectionString="select StudentCode from TB_Student_Info where StudentID=@StudentID"/>
  </connectionStrings>
</configuration>